<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>

<body id="app">
  <div class="question-container">
    <h1>Name the capitals!</h1>
    <form class="container" action="/submit" method="post">
      <div class="horizontal-container">
        <h3>
          Total Score:
          <span id="score">
            <%= locals.totalScore ? totalScore : "0" %>
          </span>
        </h3>
        <!-- TODO: add a hint button that adds the first letter to the answer box -->
      </div>

      <h2 id="countryName">
        <%=question.country %>
      </h2>
      <div class="answer-container">
        <input type="text" name="answer" id="userInput" placeholder="Enter the capital" autofocus autocomplete="off">

      </div>
      <button type="submit">SUBMIT<% if(locals.wasCorrect){ %>
        <span class="checkmark">✔</span>
        <% } else { %>
        <span class="cross" id="error">✖</span>
        <% } %>
      </button>

    </form>
  </div>
</body>

</html>