<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>

<body id="app">
  <div class="restart-container" style="height: 100vh;">
    <a class="restart-button" href="/">Restart</a>
  </div>
</body>

</html>