<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>

<body id="app">
  <div class="restart-container" style="height: 100vh;">
    <h1>Game Over!</h1>
    <div class="content-container">
      <h3>Correct Answers: <%= totalCorrectAnswers %></h3>
      <h2 class="actual-answer">Sorry, the answer was <span><%= question.capital %></span></h2>
      <div class="restart-button-div">
        <a class="restart-button" href="/">Restart</a>
      </div>
    </div>
  </div>
</body>

</html>